@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-light';
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}


body {
    width: 1920px;
    margin: 0 auto;
}

.main-header {
    background-color: #555556;
    background: url(../img/photo.png) no-repeat 50% 50%;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    padding-top: 40px;
}

.main-header-top-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Raleway-light;
    font-size: 34px;
    color: #ffffff;
}

.main-header-top-logo:hover svg {
    fill: #c7b299;
}

.main-header-top-logo:hover span {
    color: #c7b299;
}

.main-header-top-logo:hover:active {
    opacity: 0.5;
}

.main-header-top-logo svg {
    fill: white;
}

.main-header-top-logo span {
    font-family: Raleway-light;
    font-size: 34px;
    color: #ffffff;
}

.main-header-top-nav {
    margin: 0 65px 0 220px;
}

.main-header-top-nav-ul {
    display: flex;
    list-style-type: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.main-header-top-nav-ul li {
    text-decoration: none;
    margin-right: 30px;
}

.main-header-top-nav-ul li a {
    text-decoration: none;
    color: white;
}

.main-header-top-nav-ul li a.active {
    color: #c7b299;
}

.main-header-top-nav-ul li a:hover {
    color: #c7b299;
    text-decoration: underline;
}

.main-header-top-nav-ul li a:active {
    opacity: 0.5;
}

.main-header-top-mini-icons {
    display: flex;
    justify-content: space-between;
}

.main-header-top-mini-icons-basket {
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    margin-right: 28px;
}

.main-header-top-mini-icons-basket:focus {
    outline: none;
}

.main-header-top-mini-icons svg {
    fill: white;
}

.main-header-top-mini-icons svg:hover {
    fill: #998675;
}

.main-header-top-mini-icons svg:active {
    opacity: 0.5;
}

.main-header .search-icon-form {
    width: 30px;
    height: 30px;
    position: relative;
    /*   border: 1px solid #fff; */
}

.main-header .search-icon-form-label {
    display: block;
    width: 100%;
    height: 100%;
    /*   border: 1px solid green; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.main-header .search-icon-form-input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -219px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.main-header .search-icon-form-input:focus {
    /*   display: block; */
    width: 250px;
    min-height: 20px;
    transition: width 1s ease;
    border-bottom: 2px solid #fff;
}

.main-header-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header-primary .main-header-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header-primary .main-header-middle-button-left {
    fill: white;
}

.main-header-primary .main-header-middle-button-left:hover {
    fill: #998675;
}

.main-header-primary .main-header-middle-button-left:active {
    opacity: 0.5;
}

.main-header-primary .main-header-middle-button-right {
    fill: white;
}

.main-header-primary .main-header-middle-button-right:hover {
    fill: #998675;
}

.main-header-primary .main-header-middle-button-right:active {
    opacity: 0.5;
}

.main-header-primary .main-header-middle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-primary .main-header-middle-text-h2 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 14px 0;
}

.main-header-primary .main-header-middle-text-h1 {
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 19px 0;
}

.main-header-primary .main-header-middle-text-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 52px 0;
    max-width: 560px;
}

.main-header-primary .main-header-middle-text-button {
    min-width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.main-header-primary .main-header-middle-text-button:focus {
    outline: none;
}

.main-header-primary .main-header-middle-text-button:hover {
    background-color: #ffffff;
    color: #998675;
}

.main-header-bottom {
    display: flex;
    justify-content: center;
}

.main-header-bottom .main-header-bottom-pagination {
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.main-header-bottom .main-header-bottom-pagination .circle {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    box-sizing: border-box;
}

.main-header-bottom .main-header-bottom-pagination .circle:hover {
    transform: scale(1.2);
}

.main-header-bottom .main-header-bottom-pagination .circle:active {
    opacity: 0.9;
}

.main-header-bottom .main-header-bottom-pagination .circle-active {
    background-color: black;
    border: 2px solid #d3c1ad;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    box-sizing: border-box;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0px;
}

.services-web {
    max-width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-web:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}

.services-web:hover:after {
    background-color: #c7b299;
}

.services-web:hover h4 {
    color: #c7b299;
}

.services-web:hover svg {
    fill: #c7b299;
}

.services-web-svg-top {
    fill: #555555;
}

.services-web-h4 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin: 30px 0 20px 0;
}

.services-web-span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 1.71;
    width: 100%;
}

.services-development {
    max-width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-development:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}

.services-development:hover:after {
    background-color: #c7b299;
}

.services-development:hover h4 {
    color: #c7b299;
}

.services-development:hover svg {
    fill: #c7b299;
}

.services-development-svg-top {
    fill: #555555;
}

.services-development-h4 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin: 30px 0 20px 0;
}

.services-development-span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 1.71;
    width: 100%;
}

.services-customization {
    width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-customization:hover h4 {
    color: #c7b299;
}

.services-customization:hover svg {
    fill: #c7b299;
}

.services-customization:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}

.services-customization:hover:after {
    background-color: #c7b299;
}

.services-customization-svg-top {
    fill: #555555;
}

.services-customization-h4 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin: 30px 0 20px 0;
}

.services-customization-span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 1.71;
    width: 100%;
}

.services-marketing {
    width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-marketing:hover h4 {
    color: #c7b299;
}

.services-marketing:hover svg {
    fill: #c7b299;
}

.services-marketing:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}

.services-marketing:hover:after {
    background-color: #c7b299;
}

.services-marketing-svg-top {
    fill: #555555;
}

.services-marketing-h4 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin: 30px 0 20px 0;
}

.services-marketing-span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 1.71;
    width: 100%;
}

.three-images {
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-images-h3 {
    margin: 0 0 0 0;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    padding-top: 83px;
}

.three-images-p {
    margin: 24px 0 40px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #8c8c8c;
    width: 757px;
    text-align: center;
}

.three-images-pictures {
    width: 1230px;
    min-height: 482px;
    position: relative;
    display: flex;
}

.three-images-pictures img:first-child {
    position: absolute;
    top: 82px;
    z-index: 1;
}

.three-images-pictures img:first-child:hover {
    z-index: 3;
}

.three-images-pictures img:nth-child(2) {
    position: absolute;
    left: 230px;
    z-index: 2;
}

.three-images-pictures img:last-child {
    position: absolute;
    top: 82px;
    left: 460px;
    z-index: 1;
}

.three-images-pictures img:last-child:hover {
    z-index: 3;
}

.commercial {
    width: 100%;
    min-height: 150px;
    background-image: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    justify-content: center;
    align-items: center;
}

.commercial-text-h3 {
    margin: 0 470px 8px 0;
    font-family: Raleway;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.commercial-text-h3-word-Waxom {
    color: #c7b299;
}

.commercial-text-span {
    margin: 0 0 0 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #615855;
}

.commercial-button {
    min-width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.commercial-button:focus {
    outline: none;
}

.commercial-button:hover {
    background-color: #ffffff;
    color: #998675;
}

.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-h3 {
    margin: 81px 0 24px 0;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}

.latest-p {
    margin: 0 0 0 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    max-width: 757px;
}

.latest-mini-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

.latest-mini-buttons-button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    background-color: white;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    margin-right: 10px;
}

.latest-mini-buttons-button-active {
    background-color: #998675;
    color: white;
}

.latest-mini-buttons-button:hover {
    background-color: #998675;
    color: white;
}

.latest-mini-buttons-button:active {
    transform: scale(1.1);
}

.latest-mini-buttons-button:last-child {
    margin-right: 0;
}

.latest-examples {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-examples-item:nth-child(3n) {
    margin-right: 0;
}

.latest-examples-item:nth-child(1) .latest-examples-item-img {
    background-image: url(../img/photo-11.jpg);
}

.latest-examples-item:nth-child(2) .latest-examples-item-img {
    background-image: url(../img/photo-12.jpg);
}

.latest-examples-item:nth-child(3) .latest-examples-item-img {
    background-image: url(../img/photo-13.jpg);
}

.latest-examples-item:nth-child(4) .latest-examples-item-img {
    background-image: url(../img/photo-21.jpg);
}

.latest-examples-item:nth-child(5) .latest-examples-item-img {
    background-image: url(../img/photo-22.jpg);
}

.latest-examples-item:nth-child(6) .latest-examples-item-img {
    background-image: url(../img/photo-23.jpg);
}

.latest-examples-item {
    width: 370px;
    min-height: 337px;
    margin-right: 30px;
    margin-top: 40px;
}

.latest-examples-item-img {
    background-color: gray;
    width: 370px;
    height: 237px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-examples-item-img-link-svg {
    fill: #c7b299;
    margin-right: 28px;
    visibility: hidden;
}

.latest-examples-item-img-lupa-svg {
    fill: #ffffff;
    visibility: hidden;
}

.latest-examples-item-text {
    background-color: #fbfaf8;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.latest-examples-item-text:before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: -27px;
    left: 19px;
}

.latest-examples-item-text-h4 {
    margin: 0 0 0 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
    padding: 30px 0 10px 30px;
}

.latest-examples-item-text-span {
    margin: 0 0 0 30px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1;
}

.latest-examples-item:hover .latest-examples-item-text {
    background-color: #362f2d;
}

.latest-examples-item:hover .latest-examples-item-text:before {
    border-bottom: 10px solid #362f2d;
}

.latest-examples-item:hover .latest-examples-item-text .latest-examples-item-text-h4 {
    color: #ffffff;
}

.latest-examples-item:hover .latest-examples-item-text .latest-examples-item-text-span {
    color: #c7b299;
}

.latest-examples-item:hover .latest-examples-item-img-link-svg {
    visibility: visible;
}

.latest-examples-item:hover .latest-examples-item-img-lupa-svg {
    visibility: visible;
}

.latest-button {
    min-width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 40px 0 80px 0;
}

.latest-button:focus {
    outline: none;
}

.latest-button:hover {
    transform: scale(1.1);
}

.block-video {
    width: 100%;
    height: 705px;
    position: relative;
}

.block-video-background {
    width: 100%;
    height: 100%;
}

.block-video-txt {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-video-txt-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.3);
    outline: none;
    border: none;
    fill: white;
}

.block-video-txt-btn :hover {
    fill: #c7b299;
}

.block-video-txt-btn :active {
    fill: black;
}

.block-video-txt-presentation {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 44px 0 30px 0;
}

.block-video-txt-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 550px;
    margin: 0 0 40px 0;
}

.block-video-txt-time {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #c7b299;
    margin: 0;
}

.excellent {
    display: flex;
    justify-content: center;
}

.excellent-img {
    background-image: url(../img/iPhone-in-hand.jpg);
    width: 423px;
    height: 616px;
    margin: 80px 30px 0 0;
    order: -3;
}

.excellent-txt {
    width: 657px;
    margin: 195px 0 0 0;
    min-height: 99px;
}

.excellent-txt-h3 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    margin: 0 0 40px 0;
}

.excellent-txt-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
    margin: 0 0 45px 0;
}

.excellent-txt-edge-wrp {
    margin-left: 80px;
    outline: none;
}

.excellent-txt-edge-wrp :focus {
    outline: none;
}

.excellent-txt-edge-wrp-item {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}

.excellent-txt-edge-wrp-item summary {
    position: relative;
}

.excellent-txt-edge-wrp-item summary::-webkit-details-marker {
    display: none;
}

.excellent-txt-edge-wrp-item summary:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    text-align: center;
    background-image: url(../img/arrow.png);
    background-size: cover;
    position: absolute;
    top: 2px;
    left: -40px;
}

.excellent-txt-edge-wrp-item p {
    margin: 0;
    font-size: 14px;
}

details[open] summary:before {
    transform: rotate(0.25turn);
}

.coffee {
    background-image: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coffee-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 135px;
    padding: 70px 0;
    margin-right: 75px;
}

.coffee-item:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 30px auto 0;
    align-self: flex-end;
}

.coffee-item-svg {
    fill: #c7b299;
}

.coffee-item-amount {
    font-family: Montserrat-light;
    font-size: 48px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: white;
    margin: 30px 0 20px 0;
}

.coffee-item-span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #c7b299;
}

.coffee-item-item:last-child {
    margin: 0;
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-h3 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    margin: 82px 0 30px 0;
}

.recent-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    max-width: 760px;
    margin: 0 0 40px 0;
}

.recent-article {
    display: flex;
    flex-wrap: wrap;
}

.recent-article-block {
    width: 370px;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}

.recent-article-block-img {
    width: 370px;
    height: 220px;
    background-image: url(../img/article-block-1.png);
}

.recent-article-block-img-date {
    margin: 20px 0 0 20px;
}

.recent-article-block-img-date-up {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #363636;
    min-height: 35px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-article-block-img-date-down {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #252525;
    min-height: 25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-article-block-txt {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.recent-article-block-txt-h {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    margin: 30px 0 20px 30px;
}

.recent-article-block-txt-span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
    margin: 0 0 27px 30px;
}

.recent-article-block-txt-a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
    margin: 0 0 33px 30px;
    text-decoration: none;
    position: relative;
}

.recent-article-block-txt-a:after {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    margin: 0 auto;
    align-self: flex-end;
    background-image: url(../img/low-arrow-readme.png);
    position: absolute;
    top: 7px;
    right: 250px;
}

.recent-article :hover .recent-article-block-img-date-up {
    background-color: #c7b299;
}

.recent-article :hover .recent-article-block-img-date-down {
    background-color: #a48d72;
}

.recent-article :hover .recent-article-block-txt {
    background-color: #362f2d;
}

.recent-article :hover .recent-article-block-txt-h {
    color: #c7b299;
}

.recent-article :hover .recent-article-block-txt-span {
    color: #ffffff;
}

.recent-article-block:nth-child(2) .recent-article-block-img {
    background-image: url(../img/article-block-2.png);
}

.recent-article-block:nth-child(3) .recent-article-block-img {
    background-image: url(../img/article-block-3.png);
}

.recent-arrows {
    margin: 40px 0 80px 0;
}

.recent-arrows-btn {
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
    background-size: cover;
    outline-offset: 0;
    height: 22px;
    width: 22px;
    fill: #d1d1d1;
    outline: none;
}

.recent-arrows-btn :hover {
    fill: #c7b299;
}

.recent-arrows-btn :active {
    transform: scale(1.2);
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background-partners.jpg);
    width: 100%;
    min-height: 490px;
}

.partners-item {
    margin-right: 90px;
    transition: ease-in 500ms;
}

.partners-item:hover {
    transition: ease-in 500ms;
    transform: scale(1.3);
}
